<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=restaurant.name%></title>
</head>
<body>
  <%- include('./partials/nav')%>
  <h1>Home Page</h1>
  <%=restaurant.name%>
  <%=restaurant.address%>
  <%=restaurant.phone%>
  <%if(restaurant.isOpen === true){%>
    <h1>Yes, we are open.</h1>
  <%} else {%>
    <h1>Sorry, we are closed.</h1>
  <%}%>
</body>
</html>
